[Unit]
Description=HAP Camera RPi

[Service]
ExecStart=/usr/bin/node /lib/node_modules/homebridge-camera-rpi/standalone.js -c /boot/homebridge-camera-rpi.conf.json
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

